body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
  letter-spacing: 1px;
  background-color: #BBDEFB;
  margin: 0PX;
  text-align: center;
  padding: 20px;

}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  flex-grow: 1;
}

.profile-card {
  background: #FFFFFF;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  max-width: 400px;
  width: 100%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 1px solid black;
}

.profile-card h2 {
  color: #1565C0;
  margin-bottom: 5px;
}

.profile-card .email {
  color: #666;
  margin-bottom: 25px;
}


/* BUTTON */
.btn {
  display: inline-block;
  background: #1565C0;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #42A5F5;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #adcee9;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  margin-top: auto;
}

.header_flex{
  display: flex;
  justify-content: space-between;
  background-color: #adcee9;
}
.heading{
  margin-top: 30px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

/* RESPONSIVE */
@media (max-width: 480px) {
  .profile-card {
    padding: 30px 20px;
  }

  .stats {
    flex-direction: column;
    gap: 15px;
  }
}
